<div class="row">
<h1>Educacion</h1>
<div class="col-lg-1"></div>
<div class="col-lg-11">
<ul>
    <li>
        <h1>Estudios1</h1> - <h3>(years)</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem velit ullam quam aut quisquam fugiat dolor. Soluta repellendus cumque amet, esse molestias eum tempore consequatur dolorum optio voluptate, fuga molestiae.</p>
    </li>
    <li>
        <h1>Estudios2</h1> - <h3>(years)</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima praesentium mollitia esse nam quaerat sed porro repudiandae. Tempora, consequatur, labore ducimus corporis eum voluptates dolore quos, cumque a dignissimos ipsum.</p>
    </li>
    <li>
        <h1>Estudios3</h1> - <h3>(years)</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod optio nesciunt quae ratione sunt explicabo, reprehenderit dolore maxime repudiandae delectus quos alias voluptatibus, suscipit nisi? Voluptate animi quas pariatur natus!</p>
    </li>
    <li>
        <h1>Estudios4</h1> - <h3>(years)</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste officiis architecto ea rem assumenda recusandae quibusdam aliquid. Facere consectetur incidunt adipisci? Et a doloremque ab labore rerum pariatur minima voluptates?</p>
    </li>
</ul>
</div>
</div>